.mainpage {
    padding-top: 69px;
    padding-bottom: 150px;
    background-color: var(--light_pink);
    @media all and (max-width: 992px) {
        padding-bottom: 55px;
    }
    @media all and (max-width: 568px) {
        padding-top: 0;
    }
    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__poster {
        position: relative;
        height: 292px;
        margin-bottom: 40px;
        z-index: 1;
    }
    &__desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: var(--black);
        margin-bottom: 48px;
        max-width: 448px;
        @media all and (max-width: 992px) {
            margin-bottom: 40px;
        }
        @media all and (max-width: 568px) {
            max-width: 100%;
        }
    }
    &__parrotbgWrapper {
        position: relative;
        width: 458px;
        height: 565px;
        @media all and (max-width: 1200px) {
            width: 420px;
        }
        @media all and (max-width: 568px) {
            right: -90px;
        }
    }

    &__redleaf {
        width: 41px;
        height: 47px;
        position: absolute;
        top: 0;
        right: 169px;
        transform: rotate(90deg);
    }
    &__purpleleaf {
        position: absolute;
        width: 100px;
        height: 128px;
        top: 22px;
        right: 10px;
    }
    &__orangeleaf {
        position: absolute;
        top: 195px;
        right: 48px;
        width: 35px;
        height: 53px;
        transform: rotate(-45deg);
    }
    &__purpleleaf_small {
        position: absolute;
        width: 40px;
        height: 49px;
        bottom: 170px;
        right: 100px;
    }
    &__greenleaf {
        position: absolute;
        bottom: 130px;
        right: 150px;
        width: 30px;
        height: 35px;
        transform: rotate(60deg);
    }
    &__parrotbg {
        position: absolute;
        width: 357px;
        height: 494px;
        top: 71px;
        left: 0;
    }
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media all and (max-width: 992px) {
        flex-direction: column;
    }
}
.column {
    position: relative;
    padding-left: 60px;
    @media all and (max-width: 992px) {
        padding: 0;
        &:not(.graphic) {
            margin-bottom: 20px;
        }
    }
}

.graphic {
    display: flex;
    justify-content: flex-end;
    padding-left: 20px;
    width: 550px;
    flex: none;
    @media all and (max-width: 1200px) {
        width: 480px;
    }
    @media all and (max-width: 992px) {
        padding: 0;
    }
}
