.prewArrow {
    position: absolute;
    width: 8px;
    height: 15px;
    left: 50%;
    transform: translateX(calc(-50% - 40px));
    bottom: 104px;
    z-index: 1;
    @media all and (max-width: 568px) {
        bottom: 50px;
    }
}
